<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Senha</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body>

    {{ template "cabecalho" }}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Atualizar Senha</h3>
                <form id="atualizar-senha">
                    <div class="form-group">
                        <label for="senha-atual">Senha Atual</label>
                        <input type="password" class="form-control" name="senha-atual" id="senha-atual"
                            placeholder="Insira sua senha atual" required>
                    </div>
                    <div class="form-group">
                        <label for="nova-senha">Nova Senha</label>
                        <input type="password" class="form-control" name="nova-senha" id="nova-senha"
                            placeholder="Insira sua senha nova" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmar-senha">Confirmar Senha</label>
                        <input type="password" class="form-control" name="confirmar-senha" id="confirmar-senha"
                            placeholder="Confirme a nova senha" required>
                    </div>
                    <button type="submit" class="btn btn-info">Atualizar Senha</button>
                </form>
            </div>
        </div>
    </div>

</body>
{{ template "rodape" }}
{{ template "scripts" }}
<script src="/assets/js/usuario.js"></script>

</html>