<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <title>Cadastro de Usuários</title>
</head>

<body>
    <div class="container-login">
        <form action="" class="devbook-form" id="formulario-cadastro">
            <span>Crie seu usuário</span>
            <div class="">
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome" reuired>
            </div>
            <div class="">
                <input type="text" name="nick" id="nick" placeholder="Digite seu nick" reuired>
            </div>
            <div class="">
                <input type="text" name="email" id="email" placeholder="Digite seu email" reuired>
            </div>
            <div class="">
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" reuired>
            </div>
            <div class="">
                <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme a sua senha"
                    reuired>
            </div>
            <button type="submit" class="btn-devbook">Cadastrar</button>
            <a href="/login">Já possui uma conta</a>
        </form>
    </div>

    {{ template "scripts" }}
    <script src="/assets/js/cadastro.js"></script>
</body>

</html>